*{
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #224870;
    font-family:  "Merriweather", serif;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté sobre el contenido */
}

.contenedor-main{
    display: flex;
    background-color: #224870;
    padding: 10rem;
}

.contenedor-logo{
    display: flex;
    align-items: center;
}
.contenedor-logo h1{
    color: #FFFF;
}
.logo{
    width: 5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.btn-iniciar{
    margin-right: 1rem;
}
.btn-iniciar,.btn-registrarse{
    text-decoration: none;
    font-weight: 300;
    color: #F8F3EC;
}

.btns-login{
    margin-right: 1rem;
}
main{
    display: flex;
    font-family: "Roboto", sans-serif;
}
.contenedor-filtro{
    width: 30%;
    padding: 1.5rem;
    padding-top: 2rem;
    border: 1px;
}

.filtro-zona{
    margin: 1.5rem 0 1.5rem 0;
}
.filtro-zona select{
    width: 12rem;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
    background-color: #E0E0E0;
    border: 2px solid #D9D9D9;
}
.filtro-descripcion input{
    width: 12rem;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    padding: 4px;
    background-color: #EBEBEB;
    border: 2px solid #D9D9D9;
}


.contenedor-lista{
    background-color: beige;
    width: 70%;
    height: calc(100vh - 4.4rem - 5.7rem);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}
.publicacion{
    display: flex;
    flex-direction:column;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
}
.contenedor-lista a{
    text-decoration: none;
    color:  black;
}
footer{
    padding: 1rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #D9D9D9;
}

.animated-button-login {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    border: none;
    font-size: 16px;
    background-color: #224870; /* Añadir un color inicial */
    border-radius: 100px;
    font-weight: 400;
    color: white;
    box-shadow: 0 0 0 2px #ffffff40;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
}

.animated-button-login span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-login span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button-login:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    background-color: #17183B; /* Color al hacer hover */
}

.animated-button-login:active {
    scale: 0.95;
}

.animated-button-login:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
