*{
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
    height: 5rem;
    border: 1px solid lightgrey;
}
main {
    font-family: "montserrat", sans-serif;
    background-color: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}
.logo{
    height: 8.5rem;
    width: auto;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.vinculo-home{
    text-decoration: none;
}

.formulario-login form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-family: "montserrat";
    border-radius: 35px;
}
.formulario-login input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 400px;
}
.formulario-login label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 6px;
    font-weight: bold;
}
.input-container {
    position: relative;
    width: 400px;
}

.input-container input {
    width: 100%;
    padding-right: 2.5rem;
}

.icono-editar {
    position: absolute;
    color: #164c4f;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }

input[value="Guardar"],input[value="Cambiar Contraseña"],input[value="Recuperar Contraseña"],input[value="Registrar"]{
    font-family: 'montserrat';
    background-color: #164c4f;
    color: #FFFBF1;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 80ms ease-in;
}

input[value="Guardar"]:active,input[value="Cambiar Contraseña"]:active,input[value="Recuperar Contraseña"]:active,input[value="Registrar"]:active {
    transform: scale(0.95);
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.boton-input {
    width: 100%;
}

.msjError {
    display: block;
    font-size: 12px;
    top: 100%;
    color: rgb(160, 3, 3);
    font-weight: bold;
    margin-top: 0px;

}
.msjErrorGeneral {
    font-size: 12px;
    color: rgb(160, 3, 3);
    font-weight: bold;

}
.msjExito{
    font-size: 12px;
    color: rgb(4, 160, 11);
    font-weight: bold;
    text-align: center;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: transparent;
    color: #164c4f;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #164c4f; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'montserrat';
}

.dropbtn:hover {
    background-color: #164c4f;
    color: #F5F1E9; 
}


.dropdown-content {
    font-family: 'montserrat';
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    z-index: 1000;
    animation: slideDown 0.3s ease forwards;
    right: 0;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
    font-size: 15px;
}
.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:hover {
    background-color: #eaeaea;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

@keyframes slideDown {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@font-face {
    font-family: 'montserrat'; 
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
.modal-overlay {
    font-family: "montserrat";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #164c4f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .formulario-login {
        width: 100%;
    }
}
