*{
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
    height: 5rem;
    border: 1px solid lightgrey;
}
.vinculo-home{
    text-decoration: none;
}
.contenedor-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.contenedor-logo h1{
    color: #FFFF;
}
.logo{
    height: 8.5rem;
    width: auto; 
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.animated-button-login {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    border: none;
    font-size: 16px;
    background-color: #224870;
    border-radius: 100px;
    font-weight: 400;
    color: white;
    box-shadow: 0 0 0 2px #ffffff40;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
}

.animated-button-login span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-login span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button-login:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    background-color: #17183B; 
}

.animated-button-login:active {
    scale: 0.95;
}

.animated-button-login:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
/* ESTILOS BOTON DESPLEGABLE*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: transparent;
    color: #164c4f;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #164c4f; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'montserrat';
}

.dropbtn:hover {
    background-color: #164c4f;
    color: #F5F1E9; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    z-index: 1000;
    animation: slideDown 0.3s ease forwards;
    right: 0;
    transform: translateX(-50%);
    font-family: 'montserrat';
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
    font-size: 15px;
}
.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:hover {
    background-color: #eaeaea;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

@keyframes slideDown {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animated-button-login {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    border: none;
    font-size: 16px;
    background-color: #224870;
    border-radius: 100px;
    font-weight: 400;
    color: white;
    box-shadow: 0 0 0 2px #ffffff40;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
}

.animated-button-login span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-login span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button-login:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    background-color: #17183B;
}

.animated-button-login:active {
    scale: 0.95;
}

.animated-button-login:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
.formularioCreacion{
    margin-top: 90px;
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}   

.formularioCreacion label{
    margin-bottom: 5px;
}

.formularioCreacion input[type = "text"], .formularioCreacion input[type = "number"], .formularioCreacion select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    margin-bottom: 7px;
    width: 250px;
    font-family: 'montserrat';
}

.cont-input{
    display: flex;
    flex-direction: column;
}

.cont-campos-par{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 17px;
}

.titulo-crear{
    padding: 1rem;
    background-color: #164c4f;
    color: #ffff;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.btn-enviar{
    width: 50%;
    margin-top: 30px;
    padding: 10px;
    background-color: #224870;  
    color: #ffff;
    font-size: medium;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'montserrat';
    border-radius: 5px;
    margin-left: 130px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4.4rem - 5.7rem);
    font-family: "montserrat", sans-serif;
}

@font-face {
    font-family: 'montserrat'; 
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1rem;
        height: 4rem; 
    }
    
    .logo {
        height: 6rem; 
    }

    .formularioCreacion {
        margin-top: 270px; 
        padding: 1rem; 
        
    }

    .formularioCreacion input[type="text"], 
    .formularioCreacion input[type="number"], 
    .formularioCreacion select {
        width: 100%; 
    }

  
    .cont-campos-par {
        flex-direction: column; 
        gap: 10px; 
    }

    .btn-enviar {
        width: 60%;
        position: relative;
        margin-left: 20px;
        left: 53px;
    }
}

@media screen and (max-width: 480px) {
    .formularioCreacion {
        padding: 0.5rem; 
    }

    .titulo-crear {
        font-size: 18px;
        padding: 0.8rem; 
    }

    .btn-enviar {
        padding: 10px; 
    }
}
